.search-input{
    background-color: #f1f3f4;
     border: none; 
     border-radius: 0.4rem;
     width: 35rem;
     padding: 0.6rem 2.5rem; 
     outline: none;
  
  }
  .search-input:focus{
    -webkit-box-shadow: -2px 2px 40px 5px rgba(0,0,0,0.62); 
    box-shadow: -2px 2px 40px 5px rgba(0,0,0,0.62);  
  }
  
  .input-group{
    position: relative;
  
  }
  .fa-search{
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
    color: #685f5f;
 }
 .user-image{
     height: 2rem;
     border-radius: 50%;
 }
 .fa-question-circle, .fa-cog, .fa-bars{
     font-size: 1.5;
     color: #5f6368;

 }